:root{
--clr--primary:#88e4fa;
--clr-secondary:#072e54;
--clr-neutral:#fed743;

--ff-primary:'Bungee',sans-serif;
--ff-secondary: 'Barlow' , sans-serif;

}





/*-----------------------------*/

body{
    height:100vh;
    overflow-x:hidden;
    font-family: var(--ff-secondary);
    font-size:1.31rem;
    line-height: 1.6;
    background:#a1f2ec;
}


section.about{
    
    background-color: #22636b;

}

section nav{
position:absolute;
height: 150px;
width: 100%;


}
nav img.siteLogo{
    width: 200px;
    height: 100px;
    margin:10px 30px;
}

.toggle-button{
    position:absolute;
    top:.75rem;
    left: .75rem;
    display: none;
}
.toggle-button i{
    font-size:3em;
}

.navContainer{
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
margin-top: 10px;
max-height: 6em;
}
ul li{
    display:inline;
}
.mainNav{
    display:flex;
    flex-direction:row;
}

.leftNav{
    display: flex;
    flex-basis: 80%;
    align-items: center;
    top:100;
    left:0;
}
.mainNav li{
    font-family: 'Bungee';
    margin:0px 10px;
    font-size: 1.5em;
    
    
}


.rightNav{
    display: flex;
    flex-basis: 20%;
}
.donateButton{
        background: #fed743;
        display: inline-block;
        position: relative;
        text-align: center;
        font-family:var(--ff-primary);
        font-size: 1.95rem;
        padding: 15px;
        text-decoration: none;
        color: white;
        box-shadow: inset -4px -4px 0px 0px #feff73;
      
}
.donateButton:before{
    top: -4px;
    left: 0;
    border-top: 4px black solid;
    border-bottom: 4px black solid;
}
.donateButton:after{
    left: -4px;
    top: 0;
    border-left: 4px black solid;
    border-right: 4px black solid;
}
.donateButton:hover, .donateButton:focus {
    background: #f9cd2c;
    box-shadow: inset -4px -4px 0px 0px #feff73;
}
.donateButton:active {
    box-shadow: inset 4px 4px 0px 0px #feff73;
}
.donateButton:before, .donateButton:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

 
  .donateButton.account{
    margin:0; 
}

.socialIcons {
width: 400px;
margin:20px 0px;
}
.socialIcons i{

margin:10px;
font-size: 2em;
}
.mainHomeText > button{

margin:.5em .5em;
}

/*HERO /MAIN HOME BANNER */

.homeContainer{
    background-image:url(/img/background/sky.png);
    background-repeat:repeat-x;
    background-size:40%;
   background-position: center;
    height:100vh;
    width:100%;
  

    }
    .mainHomeText{
    margin-top: 3.2em;
    }
    .homeContainer:after{
    background-image:url("/img/Slice\ 1.png");
    top: calc(100% - 45px);
    background-position: bottom left;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 9;
}
    


  .mainHomeText h1{
    margin: .5em 0;
    font-size: 2em;
  }
  .mainHomeText p{
    font-size:1.5em ;
    margin-bottom: 1em;
    font-weight: 800;
  }
    .clouds{
        background-image:url(/img/clouds.png);
        width: 100%;
        height: 100vh;
    background-repeat:no-repeat;
    background-size:contain;
    position: absolute;
    background-position:bottom;
    
    z-index: 0;
    
}
.ocean{
     background-image:url(/img/sea.png);
        height: 100%;
        width:100%;
    background-repeat:repeat-x;
    background-position: bottom;
    background-size:10%;
    position: absolute; 
   
    z-index: 2;
}
.forGround{
     background-image:url(/img/far-grounds.png);
        height: 100vh;
        width: 100%;
    background-repeat:no-repeat;
    background-size:100%;
    position: absolute;
    background-position: bottom;
    
    left:300px;
    z-index: 3;
    
}
header{
    top:20%;
    left:7.5%;
    position:absolute;
    width: min(50%,60rem);
}
h1,h2,h3{
    font-family: bungee;
    line-height:1;
    
}
h3{
font-size: 3em;
text-align: center;
}

/*======ABOUT SECTION ========*/
.about{
     padding:3rem 0;
    
   
}
.aboutImages img{
max-width:300px;
height: auto;

}
.aboutContainer{
    margin-inline:auto;
    flex-direction: column;
    display: flex;
    width:min(90%, 70.5rem);

}
.aboutContainer h3{
margin-bottom:50px;
}

h2.mageIcon:after{
    content:'';
    width:50px;
    height:50px;
    background-color:red;
    background-size:50px 50px;
    background-repeat:no-repeat;
    display: inline-block;
    
    margin-left:20px;

    background-image:url(/img/background/icons/Icons8_38.png);
}
.aboutSplit{
    display:flex;
    flex-direction:row;
    padding-top:60px;
    
}
.aboutSplit p{
    font-size: 1.3rem;
    font-weight: bold;
}
.aboutSplit,h2,p{
    margin:0px 20px;
    
}
.aboutText{
display: flex;
flex-direction: column;

    
}
/*================Featured=================*/

.featuredIn{
    padding:3rem 0;
    min-height: 45vh;
   
}

.featuredContainer{
     margin-inline:auto;
    flex-direction: column;
    display: flex;
    width:min(90%,60.5rem);
}
.featuredSplit {
    display:flex;
    flex-direction:row;
}


svg{
    border-radius:20px 20px;
    
    padding:.5em;
    height:6em;
    width: 40em;
    
}
.featuredIn:after{
    background-image:url("/img/Slice\ 1.png");
  
    background-position: bottom left;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 9;
    
}

.section_8bit{
width: 100%;
margin:2em;
background-color: white;
border-left: 10px solid #000;
border-right: 10px solid #000;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
 
.section_8bit .wrapper{
display: block;
color: #000;

margin: -10px 0;
border-top: 10px solid #000;
border-bottom: 10px solid #000;
}
 
.section_8bit::before,
.section_8bit::after,
.section_8bit .wrapper::before,
.section_8bit .wrapper::after{
content: '';
width: 10px;
height: 10px;
display: block;
position: absolute;
background: #000;
}
.section_8bit::before{ top: -5px; left: -5px; }
.section_8bit::after{ top: -5px; right: -5px; }
.section_8bit .wrapper::before{ bottom: -5px; left: -5px; }
.section_8bit .wrapper::after{ bottom: -5px; right: -5px; }

/*----------footer=========*/

.footer{
    
    background-color: #22636b;
   
}

.footerSplit{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:65px;
    align-content:space-around;
    justify-content:space-evenly;
    
}
.footerContainer{
    margin-inline:auto;
    flex-direction: column;
    display: flex;
    width:min(90%,120.5rem);
    padding-top: 2.5em;
     background-color: #22636b;
}
.footerLinks > *{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
     font-weight: 700;
    color:white;
    
}
.footerLinks{
max-width:1200px;
}


.footerSplit h3{
    font-size:1.5em;
    letter-spacing:2px;
}

.footerSplit > *{
    padding:.5em;
}

.footerLinks a{
    color:white;

}
.footerLinks i{
 margin:.2em .5em 0 0;
 font-size: 1.5em;
}



footer{
   
    position: relative;
    margin-top:1em;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight:700;
    letter-spacing:3;
     background-color: #22636b;
    
}


/*======*/
@media(max-width:86em) {
    /* Nav */
    .mainNav ,.siteLogo{display:none;
             
   }
    /* Header*/
    header{
       top:20%;
       left:7.5%;
       position:absolute;
       width: min(70%,60rem);
       
   }

    .toggle-button{
       font-size:.2em;
       display: block;
   }
   .toggle-button img{
    width: 5rem;
   }

}
   
   
   
   /*===VERY SMALL===*/
   @media(max-width:50em) {
    /*Nav
       
    */
    .mainNav, .siteLogo{display:none;

   }
   .toggle-button{
       font-size:2em;
       display: flex;
       
      
      left:30px;
   }
   /*=====ABOUT=====*/
.aboutSplit{
    display:flex;
    flex-direction: column;
    text-align: center;
    
}
.reverseSplit{
    flex-direction: column-reverse;
}
.aboutImages{
    width:300px;
    min-width:200px;
    margin-inline:auto ;
}
h2,p{
    margin:20px 0px;
}


   
}